body {
	background-color: #fafafa;
	font-family: Arial, sans-serif;
	font-size: 14px;
	color: #262626;
	line-height: 1.5;
	padding: 0;
	overflow-x: hidden;
	background: #f9f9f9;
	background-image: url("FOOTER-BACKGROUND-1.png");
	background-repeat: no-repeat;
	background-size: cover;
}




/* Sidebar styling */
.sidebar {
	position: fixed;
	top: 0;
	left: 0;
	width: 200px;
	height: 100%;
	padding-top: 20px;
	text-align: left;
	border-right: 1px solid #ddd;
	z-index: 9999;
	background-color: #fafafa;
  }
  
  .sidebar a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 20px;
	color: #000000;
	display: block;
	transition: 0.3s;
  }
  
  .sidebar a:hover {
	color: #ffffff;
	background-color: #007bff;
  }
  .sidebar a:hover::before {
	opacity: 1;
	transform: translate(-50%, -50%);
  }
  
  .sidebar .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
  }
  
  /* Sidebar button styling */
  #openNav {
	background-color: transparent;
	border: none;
	position: fixed;
	z-index: 1;
	top: 20px;
	left: 20px;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
	width: 50px;
  }
  
  #openNav span {
	height: 3px;
	width: 100%;
	background-color: #fff;
	border-radius: 10px;
	position: relative;
	transform-origin: center;
	transition: all 0.3s ease;
  }
  
  #openNav span:before,
  #openNav span:after {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #fff;
	border-radius: 10px;
	transition: all 0.3s ease;
  }
  
  .logo {
	position: fixed;
	top: 0;
	left: 250px;
	width: calc(100% - 200px);
	display: flex;
	align-items: center;
	height: 60px;
	z-index: 9999;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
	background-color: #ffffff;
  }
  .system_title{
	margin-left: auto;
	margin-right: 6em;
	font-size: medium;
	
  }
  
  .sidebar {
	width: 250px;
  }
  

.shadow {
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1) !important;
}

.profile-tab-nav {
	min-width: 250px;
}
.tab-content {
	flex: 1;
}

.form-group {
	margin-bottom: 1.5rem;
}

.nav-pills a.nav-link {
	padding: 15px 20px;
	border-bottom: 1px solid #ddd;
	border-radius: 0;
	color: #333;
}
.nav-pills a.nav-link i {
	width: 20px;
}

.img-circle img {
	height: 100px;
	width: 100px;
	border-radius: 100%;
	border: 5px solid #fff;
}




@media only screen and (min-width: 768px) {
	.sidebar {
	  width: 250px;
	}
	
	
	#openNav {
	  display: none;
	}
	
  }
  @media only screen and (max-width: 1400px) {
	.sidebar {
	  width: 230px;
     
	}
	.logo {
		position: fixed;
		top: 0;
		left: 230px;
		width: calc(100% - 200px);
		display: flex;
		align-items: center;
		height: 60px;
		z-index: 9999;
		box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
		background-color: #ffffff;
	  }
	
	#openNav {
	  display: none;
	}
	main {
	position: relative;
	top: 5em;
	left: 260px;
	bottom: 0;
	right: 10em;
	margin-right: 20%;
	width: 76%;
  }
  }

  #popupContainer {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 9999;
  }
  h3{
	margin-bottom: 1em;
  }
  .popupContent {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 400px; /* Increased container width */
	margin: auto;
	margin-top: calc(50vh - 200px); /* Adjust the value to center the container vertically */
	background-color: #fafafa;
	border-radius: 8px;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
	padding: 20px;
  }
  
  .popupContent h3 {
	margin-top: 0;
  }
  
  .popupContent button {
	margin-top: 10px;
	margin-right: 0.5em;
	padding: 0.4em;
	border: none;
	border-radius: 4px;
  }
  #confirmSignOutButton{
	background-color: #007bff;
	color: #fff;
	margin-right: 0.4em;
  }
  
 

 
